* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
}
html {
    background-color: rgb(255, 255, 255);
}
.com-line {
    width: 98%;
    margin: 0px auto;
    margin-bottom: 10px;
    height: 2px;
    background-color: rgb(201, 201, 201);
}